APP_PORT=8094
APP_PEPPER=GANTI_DENGAN_RANDOM_SECRET_MINIMAL_64_KARAKTER
INITIAL_ADMIN_NAME=Administrator
INITIAL_ADMIN_USERNAME=admin
INITIAL_ADMIN_PASSWORD=GantiPasswordAdmin123
DEFAULT_APP_NAME=AXINDO Media Hub
DEFAULT_COMPANY_NAME=PT Axindo Infinitas Network
TRUST_PROXY=false
COOKIE_SECURE=false
SESSION_HOURS=12
MAX_UPLOAD_MB=50
SEED_DEMO=false
